* {
    box-sizing: border-box;
}

body {
    font-family: "museo-sans", "sans-serif";
    color: #FFF;
}

#background {
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slide {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.slide-container {
    position: absolute;
    width: 100%;
}

.image {
    width: 100%;
    left: 0%;
    position: absolute;
    z-index: -1;
}

#header {
    position: absolute;
    width: 100%;
    height: 90px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(7, 7, 22, 0.75) 0%, rgba(7, 7, 22, 0.25) 100%);
    vertical-align: middle;
    border-bottom: 1px solid #999;
}

#header #brand {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#header #brand p {
    font-family: "museo";
    color: #FFF;
    text-align: center;
    letter-spacing: 10px;
}

#content {
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.herotext {
    margin-top: 30%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    color: #FFFFFF;
}

.tagline {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(7, 7, 22, .5);
    text-transform: uppercase;
    line-height: 27px;
}

.button {
    display: inline-block;
    padding: 5px 50px;
    background-color: #1FBAD6;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.game {
    position: relative;
    top: 20px;
    display: inline-block;
    padding: 10px;
    max-width: 500px;
    background-color: rgba(7, 7, 22, .5);
}

.cell {
    color: #000;
    float: left;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin: 4px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.cell.locked {
    color: #888;
    cursor: default;
}

.cell.selector {
    background-color: #1FBAD6;
    color: #FFF;
    margin-bottom: 20px;
}

.cell.white {
    background-color: #FFF;
    border: 1px solid #111;
}

.cell.grey {
    background-color: #AAA;
    border: 1px solid #111;
}

.cell.red {
    background-color: #FF197F;
}

.cell.med-red {
    background-color: #FF4FA7;
}

.cell.light-red {
    background-color: #FF88CA;
}

.cell.fade-in {
    background-color: #1FBAD6;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.cell.blue {
    background-color: #1FBAD6;
}

.cell.blue-light {
    background-color: #71E9FF;
}

.cell.fade-out {
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.cell.selector.active {
    background-color: #000;
    border: 2px solid #1FBAD6;
}

/*Mobile*/
@media only screen and (max-width: 480px) {

    #header #brand p {
        letter-spacing: 20px;
    }

    .herotext {
        font-size: 44pt;
        font-weight: 100;
    }

    .tagline {
        font-size: 14pt;
    }

    #header #brand p {
        padding-top: 14px;
        font-size: 14pt;
        font-weight: 100;
    }

    .cell {
        padding-top: 1px;
        border-radius: 4px;
        width: 25px;
        height: 25px;
        font-size: 18px;
    }
}

/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    #header #brand p {
        letter-spacing: 35px;
    }

    .herotext {
        font-size: 44pt;
        font-weight: 100;
    }

    .tagline {
        font-size: 18pt;
    }

    #header #brand p {
        font-size: 22pt;
        font-weight: 100;
    }
}

/*Desktop*/
@media only screen and (min-width: 769px) {

    #header #brand p {
        letter-spacing: 35px;
    }

    .herotext {
        font-size: 64pt;
        font-weight: 100;
    }

    .tagline {
        font-size: 18pt;
    }

    #header #brand p {
        font-size: 24pt;
        font-weight: 100;
    }
}

